.page-4 {
    width: 1440px;
    height: 500px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.page-4-box {
    width: 350px;
    height: 545px;
}

.page-4-content {
    width: 1440px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#page-4-a {
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    display: flex;
    width: 200px;
    height: 45px;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    position: relative;
    left: 1000px;
    bottom: 50px;
    transition: 2s;
}

#page-4-a:hover {
    background: #510303;
    box-shadow: 0 0 2px 2px;
}
