.page-5 {
    width: 1440px;
    height: 1000px;
    background: linear-gradient(60deg, #4985FF, #F78154);
    display: flex;
justify-content: center;

}

.page-5-content {
    margin-top: 200px;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.page-5-progInfo {
    width: 250px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: flex-start;
    text-align: center;
}

.page-5-progInfo b {
  font-family: sans-serif;
    font-size: 25px;
}

.page-5-progInfo p {
    color: white;
    font-size: 18px;
}
.page-5-progInfo a{
    margin-left: 20px;
    transition: 1s;
}

.page-5-progInfo a:hover {
    transform: rotate(720deg);
}
