.project {
    width: 1440px;
    height: 1000px;
    background: #afafbd;
    display: flex;

}

.project-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 100px;
    color: #323030;
    font-family: sans-serif;
}

.projects-photos {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.projects-photos img {
    margin-left: 10px;
    transition: 2s;
}

.projects-photos img:hover {
    transform: scale(1.25);
    box-shadow: black 0 0 5px 5px;
}
